<%= simple_form_for(@blog) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.input :title, placeholder: "The post title" %>

  <%= f.input :sub_title, placeholder: "The post sub title (song title usually)" %>

  <div id="categories">
      <%= f.simple_fields_for :categorizations do |categorization| %>
        <%= render 'categorization_fields', f: categorization %>
       <% end %>
        <%= link_to_add_association 'Add Blog Category', f, :categorizations, class: "btn btn-default" %>
  </div>

  <%= f.input :tags, placeholder: "Use to have as meta tags e.g Rock Roll Rocker" %>

  <div id='posts'>
      <%= f.simple_fields_for :posts do |post| %>
        <%= render 'post_fields', f: post %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Post Section', f, :posts, class: "btn btn-info" %>
      </div>
  </div>

</br>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <%= f.submit "Preview", class: "btn btn-primary", name: "preview_button" %>
  <%= link_to 'Back', blogs_path , class: "btn btn-default" %>  
<% end %>
