<% provide(:title, @blog.title) %>
<% provide(:description, @blog.tags) %>
<div class="row">
		<%= render @blog %>	
	<div class="col-md-4 col-md-offset-1">
		<div class="well bs-component">
			<section id="comments_section">
				<% if current_user %>
					<%= render 'comments/new' %>
				<% else %>
					<%= link_to(content_tag(:h4, "Please Login to Comment"), new_user_session_path) %>
					<%= link_to(content_tag(:h4, "Sign Up to Comment"), new_user_registration_path) %>
				<% end %>
			</section>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-1">
		<div class="well bs-component">
			<%= render 'comments/show' %>
		</div>
	</div>
	<div class="col-md-10 col-md-offset-1">
	  <% if @songs.any? %>
	    <div class="well bs-component">
	  	  <h3 class="center">Stock Rocker Songs</h3>
	      <%= render 'songs/show' %>
	    </div>
	  <% end %>
    </div>
</div>
